__pycache__
test.spec
.vscode
Data
kivymd_original
app_build
all_files
.idea
dist
build
main.spec
config.json
email.txt
encrypted_file.txt
passwords
user_id.txt
passlock.tar.gz
passlock
api_key.txt
env
set_web_api_key.py
Passlock-cache
Passlock-SetupFiles
Passlock.aip